.section {
    height: 250px;
}

.section.four {
    background-color: grey;
    display:flex;
    align-items: center;
    justify-content: center;
}

.actionbanner {
    background-color: #3882f6;
    border-radius: 10px;
    width: 700px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:white;
    font-family: "Hero Secondary text", sans-serif;
}

.call {
    font-weight: 850;
    font-size: 18px;
}

button.signup{
    border-radius: 5px;
    background-color: #3882f6;
    border:1px solid white;
    padding: 5px 15px;
    color: white;
}