/*general */

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

section, header, footer {
    padding: 0px 70px;
}


section {
    height: 400px;
}

h2, h4, p, ul, blockquote {
    padding: 0px;
    margin: 0px;
}


/* header */
ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

ul a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
}

header h1 {
    font-size: 24px;
    color: #f9faf8
}


/*section one */

section.one {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one .container{
    flex: 1 1 auto;
    display: flex;
    gap: 32px;
}

.one .left, .one .right {
    flex: 1 1 auto;
    display: flex;
    padding: 0px;
}


.one .left {
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
}


.one .right{
    justify-content: center;
    align-items: center;
}

h2.left-sub {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

p.left-sub,button.left-sub {
    font-size: 18px;
    color: #e5e7eb;
}

button.left-sub {
    background-color: #3882f6;
    border-radius: 5px;
    font-weight: 700;
    padding: 4px 16px;
    border: 0px;
    align-self: flex-start;
}


.one .img-container{
    flex-shrink: 1;
    background-color: gray;
    height: 270px;
    width:  580px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clouds{
    max-width: 600px;
    height: auto;
}


/* Section two */

section.two{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.pseudoimage.info{
    border:2px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.information {
    display: flex;
    justify-content: center;
    border: 0px;
    gap:45px;
}

.info{
    max-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border: 0px;
}



.info.text {
    text-align: center;
}

.two .heading{
    font-size: 36px;
    font-weight: 850;
    padding: 32px;
    color: #1F2937
}


/*section three*/

section.three {
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    max-width: 800px;
}

.quote {
    font-size: 36px;
    font-weight: 0;
    color: #1F2937;
}

.cite{
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    color: #1F2937
}


/* section four */

section.four {
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}

.actionbanner {
    background-color: #3882f6;
    border-radius: 10px;
    width: 700px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:white;
}

.call, button.signup {
    font-weight: 850;
    font-size: 18px;
}

button.signup{
    border-radius: 5px;
    background-color: #3882f6;
    border:2px solid #e5e7eb;
    padding: 5px 15px;
    color: #e5e7eb;
}

/* Footer */
footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
}

footer p{
    font-size: 18px;
    color: #f9faf8;
}



